<%= form_for [@job, @bid] do |f| %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount, autofocus: true %>
  </div><br/>

  <div class="field">
    <%= f.label :expiration %>
    <%= datepicker_input :expiration %>
  </div><br/>

	<%= f.submit %>

<% end %>
