<div>
  <h1>All Posted Jobs</h1>
  <hr />
  <%= button_to 'New Job', new_job_path, method: :get %>
  <% if @jobs.any? %>

  <div class='row'>

    <% @jobs.each do |job| %>

      <div class="panel panel-success">
        <div class="panel-heading"><%= link_to job_path(job) do %> Job Details <% end %></div>
        <div class="panel-body">
          <p>...</p>
        </div>

        <ul class="list-group">
          <li class="list-group-item"><%= job.pickup_location %></li>
          <li class="list-group-item"><%= job.dropoff_location %></li>
          <li class="list-group-item"><%= job.pickup_date %></li>
          <li class="list-group-item"><%= job.dropoff_date %></li>
          <li class="list-group-item"><%= job.description %></li>
          <li class="list-group-item"><%= job.special_notes %></li>
          <li class="list-group-item"><%= job.address.address_1 %></li>
          <li class="list-group-item"><%= job.address.address_2 %></li>
          <li class="list-group-item"><%= job.address.address_3 %></li>
          <li class="list-group-item"><%= job.address.province %></li>
          <li class="list-group-item"><%= job.address.country %></li>
          <li class="list-group-item"><%= job.address.zip %></li>
          <li class="list-group-item"><%= link_to 'Edit Pickup or Dropoff Dates', edit_job_path(job) %></li>
          <li class="list-group-item"><%= link_to 'Edit Address', jobs_path(@job, @address) %></li>
        </ul>
      </div>
    <% end %>
      <% else %>
        <h3>To get started, please create a Job.</h3>
      <% end %>
  </div>
</div>
