<!DOCTYPE html>
<html>
  <head>
    <title>LoadFinder</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>">LoadFinder</a>
        </div>

          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search for Jobs" %>
              <%= submit_tag "Search", :name => nil %>
            </li><% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>

            <% else %>
            	<li><%= link_to 'Sign In', user_session_path %></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
          </ul>
      </div>
    </nav>

    <div class='containter col-sm-10 col-sm-offset-1 col-xs-12'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
</html>
